body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
  text-align: center;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

input {
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #4CAF50;
  border-radius: 5px;
}

#countdown {
  font-size: 2em;
  margin-top: 20px;
}

#location-info {
  margin-top: 30px;
}

#leaderboard {
  list-style-type: none;
  margin-top: 30px;
  padding: 0;
}

#leaderboard li {
  font-size: 18px;
  margin-bottom: 10px;
}
